<p>
  <b>Name:</b>
  <%= @medicine.name unless @medicine.name.nil? %>
</p>

<p>
  <b>Description:</b>
  <div class="well">
  	<%= @medicine.description .html_safe %>
  </div>
</p>

<div class="well">
	<%= link_to 'Edit', edit_medicine_path(@medicine), :class => "btn btn-primary" %>
	<%= link_to 'Back', medicines_path, :class => "btn" %>
</div>