<%- model_class = HealthFacility -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<%= render "list"%>

<br/><h1>Health Facilities From OpenData </h1>
<% @health_facilities = @od_health_facilities %>
<%= render "list"%>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_health_facility_path,
            :class => 'btn btn-primary' %>
