<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>

<% @prescriptions.each do |prescription| %>
  <%= render "prescriptions/show", :prescription => prescription %>
<% end %>
</table>
