<p>
  <b>Name:</b>
  <%= @prescription.name unless @prescription.name.nil? %>
</p>

<p>
  <b>Notes:</b>
  <%= @prescription.notes unless @prescription.notes.nil? %>
</p>

<div class="well">
	<%= link_to 'Edit', edit_prescription_path(@prescription), :class => "btn btn-primary" %>
	<%= link_to 'Back', prescriptions_path, :class => "btn" %>
</div>