<div class="subnavbar">

	<div class="subnavbar-inner">
	
		<div class="container">

			<ul class="mainnav">
			
				<li class="active">
					<a href="http://wbpreview.com/previews/WB00U99JJ/">
						<i class="icon-home"></i>
						<span>Home</span>
					</a>	    				
				</li>
				
				<li>
					<a href="http://wbpreview.com/previews/WB00U99JJ/faq.html">
						<i class="icon-pushpin"></i>
						<span>FAQ</span>
					</a>	    				
				</li>
				
				<li class="subnavbar-open-right">					
					<a href="http://wbpreview.com/previews/WB00U99JJ/pricing.html" class="dropdown-toggle">
						<i class="icon-th-large"></i>
						<span>Pricing Plans</span>
					</a>	  				
				</li>
				
				<li>
					<a href="http://wbpreview.com/previews/WB00U99JJ/reports.html">
						<i class="icon-bar-chart"></i>
						<span>Reports</span>
					</a>    				
				</li>
				
				<li>					
					<a href="http://wbpreview.com/previews/WB00U99JJ/guidely.html">
						<i class="icon-facetime-video"></i>
						<span>Guided Tour</span>
					</a>  									
				</li>
				
				<li class="dropdown subnavbar-open-right">					
					<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-share-alt"></i>
						<span>More Pages</span>
						<b class="caret"></b>
					</a>	
				
					<ul class="dropdown-menu">
						<li><a href="http://wbpreview.com/previews/WB00U99JJ/charts.html">Charts</a></li>
						<li><a href="http://wbpreview.com/previews/WB00U99JJ/account.html">User Account</a></li>
						<li class="divider subnavbar-open-right"></li>
						<li><a href="http://wbpreview.com/previews/WB00U99JJ/login.html">Login</a></li>
						<li><a href="http://wbpreview.com/previews/WB00U99JJ/signup.html">Signup</a></li>
						<li class="subnavbar-open-right"><a href="http://wbpreview.com/previews/WB00U99JJ/error.html">Error</a></li>
					</ul>    				
				</li>
			
			</ul>

		</div> <!-- /container -->
	
	</div> <!-- /subnavbar-inner -->

</div> <!-- /subnavbar -->